#vector-side-table
{
    white-space: nowrap;
    font-size: .7rem;
}
.bootstrap-table .fixed-table-container .table thead th .sortable
{
    padding-right: 10px!important;
}

// Følgende skjuler editorværktøjerne i tabellen
#vector-side-table > div.bootstrap-table.bootstrap5 > div.fixed-table-container.fixed-height > div.fixed-table-header > table > thead > tr > th:last-child {
    display:none;
}

#vector-side-table > div.bootstrap-table.bootstrap5 > div.fixed-table-container.fixed-height > div.fixed-table-body > table > thead > tr > th:last-child {
    display:none;
}

#vector-side-table > div.bootstrap-table.bootstrap5 > div.fixed-table-container.fixed-height > div.fixed-table-body > table > tbody> tr > td:last-child {
    display:none;
}
